$tender-blue:#b3deef;
$tender-yellow:#ffc24b;
$tender-red:#f43753;
$tender-magenta:#d3b987;

$backgroundcolor: #282828;
$textcolor: #feffff;
$lighttextcolor: #eeeeee;

body {
    line-height: 1.5;
    color: $textcolor;
    background-color: $backgroundcolor;
    font-family: sans-serif;
    width: 80%;
    min-width: 200px;
    max-width: 720px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    
    img, video {
        display: block;
        margin: 0 auto;
        max-width: 90%;
    }
    
    ul {
        margin-left: 1rem;
        padding-left: 1rem;
    }

    a {
        color: $textcolor;
        text-decoration: underline;
    }

    @media screen and(max-width: 480px) {
        width: 90%;
    }
}

.header {
    color: $lighttextcolor;
    background-color: $backgroundcolor;
    top: 0;
    padding-bottom : 5px;
    border-bottom: solid 1px $tender-blue;
    overflow: hidden;
    a {
        color: $lighttextcolor;
    }
}

.button_no_decoration {
    color: $tender-blue;
    border: none;
    outline: none;
    background: transparent;
    vertical-align: middle;
    font-family: sans-serif;
}

.site_title {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    a {
        color: $textcolor;
        text-decoration: none;
    }
}

.menu {
    text-align: right;
    a {
        text-decoration: none;
    }
}

.date {
    color: $tender-yellow;
}

.date_postpage {
    color: $tender-blue;
    text-align: right;
}

.title {
    color: $tender-blue;
    font-size: 1.3rem;
    a {
        text-decoration: none;
    }
}

.archive_title {
    font-size: 1.3rem;
    a {
        text-decoration: none;
    }
}

.title_postpage {
    font-size: 1.6em;
    line-height: 1.4em;
    font-weight: bold;
    color: $textcolor;
}

.taxonomies a {
    font-size: 0.9rem;
    color: $lighttextcolor;
    text-decoration: none;
}

.taxonomies_postpage {
    text-align: right;
    a {
        font-size: 0.9rem;
        color: $lighttextcolor;
        text-decoration: none;
    }
}

.taxonomies_index a {
    font-size: 0.9rem;
    color: $lighttextcolor;
    text-decoration: none;

    @media screen and(max-width: 480px) {
        display: none;
    }
}

.taxonomies_list {
    a {
        text-decoration: none;
    }
}

.footer {
    color: $lighttextcolor;
    text-align: right;
    margin-top: 50px;
    padding-top: 0px;
    // border-top: solid 1px $tender-blue;
    a {
        color: $lighttextcolor;
    }
}

h1 {
    font-size: 2.2rem;
    color: $tender-blue;
}

h2 {
    font-size: 2.0rem;
    color: $tender-blue;
}

h3 {
    font-size: 1.5rem;    
    color: $tender-blue;
}

h4 {
    font-size: 1.3rem;    
    color: $tender-blue;

}

h5 {
    font-size: 1.2rem;    
    color: $tender-blue;
}

h6 {
    font-size: 1.1rem;    
    color: $tender-blue;

}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

pre {
    border: 1px solid #AAA;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 20px;
}

:not(pre) > code {
    background-color: $tender-yellow;
    color: $backgroundcolor;
}

blockquote {
    border-left: 5px solid $tender-blue;
    padding: 0.5rem;
    margin: 1rem;
}

table {
    max-width: 90%;
}

table th {
    padding: 10px;
}

table th, td {
    border: solid 1px $tender-magenta;
}

table td {
    padding: 10px;
}

button {
    color: $backgroundcolor;
    background-color: $tender-blue;
    border: solid;
    border-radius: 3px;
    border-color: $tender-blue;
}
