// Blatantly borrowed colors from https://github.com/rose-pine/neovim

$rose: #ebbcba;
$iris: #c4a7e7;

$backgroundcolor: #191724;
$textcolor: #e0def4;


body {
    line-height: 1.5;
    color: $textcolor;
    background-color: $backgroundcolor;
    font-family: sans-serif;
    width: 80%;
    min-width: 200px;
    max-width: 720px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    
    img, video {
        display: block;
        margin: 0 auto;
        max-width: 90%;
    }
    
    ul {
        margin-left: 1rem;
        padding-left: 1rem;
    }

    a {
        color: $textcolor;
        text-decoration: underline;
    }

    @media screen and (max-width: 480px) {
        width: 90%;
    }
}

.header {
    color: $textcolor;
    background-color: $backgroundcolor;
    top: 0;
    padding-bottom : 5px;
    border-bottom: solid 1px $rose;
    overflow: hidden;
    a {
        color: $textcolor;
    }
}

.icon {
  border-radius: 50%;
}

.site_title {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    a {
        color: $textcolor;
        text-decoration: none;
    }
}

.menu {
    text-align: right;
    a {
        text-decoration: none;
    }
}

.date {
    color: $iris;
}

.date_postpage {
    color: $iris;
    text-align: right;
}

.title {
    color: $rose;
    font-size: 1.3rem;
    a {
        text-decoration: none;
    }
}

.archive_title {
    font-size: 1.3rem;
    a {
        text-decoration: none;
    }
}

.title_postpage {
    font-size: 1.6em;
    line-height: 1.4em;
    font-weight: bold;
    color: $textcolor;
}

.taxonomies a {
    font-size: 0.9rem;
    text-decoration: none;
}

.taxonomies_postpage {
    text-align: right;
    a {
        font-size: 0.9rem;
        color: $textcolor;
        text-decoration: none;
    }
}

.taxonomies_index a {
    font-size: 0.9rem;
    text-decoration: none;

    @media screen and (max-width: 480px) {
        display: none;
    }
}

.taxonomies_list {
    a {
        text-decoration: none;
    }
}

.hr_bottom {
  color: $rose;
}

.footer {
    text-align: right;
    margin-top: 50px;
    padding-top: 0px;
    // border-top: solid 1px $tender-blue;
    a {
        color: $textcolor;
    }
}

h1 {
    font-size: 2.2rem;
}

h2 {
    font-size: 2.0rem;
}

h3 {
    font-size: 1.5rem;    
}

h4 {
    font-size: 1.3rem;    
}

h5 {
    font-size: 1.2rem;    
}

h6 {
    font-size: 1.1rem;    
}

h1, h2, h3, h4, h5, h6 {
    color: $rose;
    font-weight: bold;
}

pre {
    border: 1px solid;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 20px;
}

:not(pre)>code {
    color: $backgroundcolor;
    background-color: $textcolor;
    padding: 3px;
    border-radius: 8px;
}

blockquote {
    border-left: 3px solid;
    padding: 0.5rem;
    margin: 0.5rem;
}

table {
    border-collapse: collapse;
    max-width: 90%;
}

table th {
    padding: 10px;
}

table th,
td {
    border: 1px #666;
    border-style: solid none;
}

table td {
    padding: 10px;
}
