$dark-themecolor:#66CCFF;

$backgroundcolor: #FFFFFF;
$textcolor: #222;
$lightcolor: #666;
$codebackground: #EFF1F5;

$dark-backgroundcolor: #1E2836;
$dark-textcolor: #EEEEEE;
$dark-lightcolor: #BBBBBB;
$dark-codebackground: #555555;

html {
    font-size: 15px;
}

body {
    line-height: 1.5;
    color: $dark-textcolor;
    background-color: $dark-backgroundcolor;
    font-family: monospace;
    width: 80%;
    min-width: 200px;
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
    
    img, video {
        display: block;
        margin: 0 auto;
        max-width: 90%;
    }
    
    ul {
        margin-left: 1rem;
        padding-left: 1rem;
    }

    a {
        color: $dark-textcolor;
        text-decoration: underline;
    }

    @media (max-width: 480px) {
        width: 90%;
    }
}

.header {
    color: $dark-lightcolor;
    background-color: $dark-backgroundcolor;
    top: 0;
    padding-bottom : 5px;
    border-bottom: solid 1px $dark-themecolor;
    overflow: hidden;
    a {
        color: $dark-lightcolor;
    }
}

.button_no_decoration {
    color: $dark-themecolor;
    border: none;
    outline: none;
    background: transparent;
    vertical-align: middle;
}

.site_title {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    a {
        color: $dark-textcolor;
        text-decoration: none;
    }
}

.menu {
    text-align: right;
    a {
        text-decoration: none;
    }
}

.date {
    color: $dark-themecolor;
}

.title {
    color: $dark-themecolor;
    font-size: 1.3rem;
    line-height: 1.3rem;
    a {
        text-decoration: none;
    }
}

.archive_title {
    font-size: 1.3rem;
    line-height: 1.3rem;
    a {
        text-decoration: none;
    }
}

.taxonomies a {
    font-size: 0.9rem;
    color: $dark-lightcolor;
    text-decoration: none;
}

.taxonomies_list {
    a {
        text-decoration: none;
    }
}

.footer {
    color: $dark-lightcolor;
    text-align: right;
    margin-top: 50px;
    padding-top: 0px;
    // border-top: solid 1px $dark-themecolor;
    a {
        color: $dark-lightcolor;
    }
}

h1 {
    font-size: 2.2rem;
    color: $dark-themecolor;
}

h2 {
    font-size: 2.0rem;
    color: $dark-themecolor;
}

h3 {
    font-size: 1.5rem;    
    color: $dark-themecolor;
}

h4 {
    font-size: 1.3rem;    
}

h5 {
    font-size: 1.2rem;    
}

h6 {
    font-size: 1.1rem;    
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

pre {
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 10px;
}

:not(pre) > code {
    background-color: $dark-codebackground;
}

blockquote {
    border-left: 5px solid $dark-themecolor;
    padding: 0.5rem;
    margin: 1rem;
}
