$sky:#bae6fd;
$slate200: #e2e8f0;
$slate900: #0f172a;

a {
    color: $sky;
    text-decoration-line: none;
}

h1, h2 {
    border-bottom: 1px solid $slate200;
}

img, video {
    display: block;
    margin: 0 auto;
    max-width: 90%;
}

pre {
    border: 1px solid;
    overflow-x: auto;
    overflow-y: hidden;
    margin: 0.25rem;
    border-radius: 0.375rem;
}

code {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

:not(pre)>code {
    font-size: 0.875rem;
    padding: 0.0625rem 0.125rem;
    color: $slate900;
    background-color: $slate200;
    border-radius: 0.375rem;
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

blockquote {
    border-left: 0.125rem solid;
    padding-left: 0.25rem;
    margin-left: 1rem;
    font-style: italic;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    max-width: 90%;
}

table th {
    padding: 10px;
}

table th,
td {
    border: 1px #666;
    border-style: solid none;
}

table td {
    padding: 10px;
}

ul, ol {
    list-style-position: inside;
    padding-left: 0.5rem;
}