{% extends "base.html" %}

{% block title %}
<title>{{ page.title }} | {{ config.title }}</title>
{% endblock %}

{% block content %}
<p>
  <div class="title_postpage">{{ page.title }}</div>
</p>
<p>
  <div class="date_postpage">{{ page.date }}</div>
  <div class="taxonomies_postpage">
  {% if page.taxonomies.categories %}
      {% for category in page.taxonomies.categories %}
      <a href="{{ get_taxonomy_url(kind="categories", name=category) | safe }}">/{{ category }}</a>
      {% endfor %}
  {% endif %}
  {% if page.taxonomies.tags %}
      {% for tag in page.taxonomies.tags %}
      &emsp;<a href="{{ get_taxonomy_url(kind="tags", name=tag) | safe }}">#{{ tag }}</a>
      {% endfor %}
  {% endif %}
  </div>
</p>

<p>
  {{ page.content | safe }}
</p>

{% if page.extra.math %}
<script>
  MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']]
    }
  };
</script>
<script type="text/javascript" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
</script>
{% endif %}

{% endblock content %}
